.wrapper {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.swiper {
  width: 100%;
  height: 100%;
}

.preview {
  width: 100%;
  height: 100%;
  object-fit: fill;
  transition: transform 0.3s ease;
  pointer-events: none;
}

.preview-overlay {
  width: 100%;
  height: 100%;
  cursor: pointer;
  user-select: none;
}

.preview:hover {
  transform: scale(1.03);
}

:global(.swiper .swiper-pagination-bullet) {
  width: 6px;
  height: 6px;
  background-color: #e6e6e6;
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.4);
  border-radius: 50%;
  margin: 0 4px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);;
}

:global(.swiper .swiper-pagination-bullet-active) {
  width: 14px;
  height: 6px;
  border-radius: 10px;
  background-color: #fff;
  opacity: 0.7;
}
