.link {
  height: 1.5em;
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 2px solid var(--ifm-color-emphasis-300);
  transition: all 0.2s ease;
  position: relative;
  padding-bottom: 0.4rem;
  vertical-align: middle;
  top: 0.1em;
  margin-inline-start: 0.2em;
}

.link:hover {
  border-bottom-color: var(--ifm-link-hover-color);
  color: var(--ifm-link-hover-color);
}

.link img {
  width: 1.8em;
  height: 1.8em;
}

.link--github {
}

.link--youtube {
}

[data-theme='dark'] .link--github img {
  filter: invert(1);
}
