
.wrap {
  display: flex;
  justify-content: center;
}

.button {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  color: #fff;
  text-align: center;
  padding: 14px 24px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.2;
  font-weight: 800;
  font-family: 'Stratum2', sans-serif;
  align-items: center;
  position: relative;
  overflow: hidden;
  background: #26D07C;
  transition: 0.35s;
}

.button:hover {
  background-color: #52b411;
  transition: 0.35s;
  background: #36ff9a;
  color: #20754b;
  box-shadow: 0 0 2px #36ff9a,
              0 0 10px #36ff9a;
}

.button:hover .icon svg {
  color: #20754b;
  transition: 0.35s;
}

.text {
  flex-shrink: 0;
  user-select: none;
  pointer-events: none;
  margin-right: 10px;
}

.version {
  font-size: 16px;
  user-select: none;
  font-weight: normal;
  margin-top: 4px;
  text-transform: none;
}

.icon {
  width: 30px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-right: 10px;
  transition: 0.35s;
}

.icon svg {
  width: 20px;
  height: 20px;
  color: white;
  transition: 0.35s;
}
