.wrap {
  display: grid;
  justify-content: center;
}

.button {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  padding: 14px 24px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.2;
  font-weight: 800;
  font-family: 'Stratum2', sans-serif;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: 0.35s;
  border: none;
  cursor: pointer;
}

.button--primary {
  background: #26D07C;
  color: #fff;
}

.button--primary .icon svg {
  color: white;
}

.button--primary:hover {
  transition: 0.35s;
  background: #36ff9a;
  color: #20754b;
  box-shadow: 0 0 2px #36ff9a,
              0 0 10px #36ff9a;
}

.button--primary:hover .icon svg {
  color: #20754b;
}

.button--secondary {
  background-color: #aaa;
  color: #fff;
}

.button--secondary .icon svg {
  color: #fff;
}

.button--secondary:hover .icon svg {
  color: #333;
}

.button--secondary:hover {
  background-color: #eee;
  color: #333;
  box-shadow: 0 0 2px #aaa,
              0 0 10px #aaa;
}

.button--disabled {
  background-color: var(--ifm-color-emphasis-300);
  color: var(--ifm-color-emphasis-800);
  cursor: not-allowed;
}

.text {
  flex-shrink: 0;
  user-select: none;
  pointer-events: none;
  margin-right: 10px;
}

.icon {
  width: 30px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-right: 10px;
  transition: 0.35s;
}

.icon svg {
  width: 20px;
  height: 20px;
  transition: 0.35s;
}

.button--tooltip {
  text-align: center;
  width: auto;
  white-space: normal !important;
  word-wrap: break-word;
}

.version, .count-text {
  grid-area: 1 / 1;
  width: 100%;
  margin-top: 4px;
  text-align: center;
  transition: opacity 0.15s ease-out;
  font-size: 16px;
  font-weight: normal;
  user-select: none;
  text-transform: none;
}

.version {
  opacity: 1;
}

.count-text {
  opacity: 0;
}

@media (min-width: 996px) {
  a.button:hover .wrap.has-count .version {
    opacity: 0;
  }

  a.button:hover .wrap.has-count .count-text {
    opacity: 1;
  }
}
