.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: var(--ifm-z-index-overlay);
  background-color: color-mix(in srgb, var(--ifm-color-primary-darker) 30%, transparent);
}

.modal-content {
  width: 450px;
  background: var(--ifm-card-background-color);
  padding: 0;
  border-radius: 8px;
  position: relative;
  box-shadow: var(--ifm-global-shadow-md);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: calc(100vh - (var(--ifm-navbar-height) + 2rem));
  top: calc(var(--ifm-navbar-height) - 2rem);
  box-shadow: 0 1.6px 3.6px 0 var(--feedback-box-shadow-medium), 0 .3px .9px 0 var(--feedback-box-shadow-light);
  border: 1px solid var(--feedback-border);
}

.modal-body {
  padding: 0.0rem 1.5rem 1.5rem 1.5rem;
}

.modal-body .title {
  font-size: 1rem;
  font-weight: 600;
  margin: 0 0 1rem 0;
  text-align: left;
}

.title {
  font-weight: 600;
  font-size: 1rem;
  margin: 0 1.0rem 0.5rem 0;
}

.close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  line-height: 1;
  padding: 0;
  cursor: pointer;
  color: var(--ifm-color-content);
  opacity: 0.7;
  transition: opacity 0.2s;
}

.close-button:hover {
  opacity: 1;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid var(--ifm-color-emphasis-200);
}

.modal-footer {
  display: flex;
  justify-content: flex-start;
  gap: 0.75rem;
  padding: 1rem 1.5rem;
  background-color: var(--ifm-color-emphasis-100);
  border-top: 1px solid var(--ifm-color-emphasis-200);
}
