:root {
  .badge--added {
    background-color: #68d391;
    box-shadow: 0 0 4px #68d391c0;
  }
  .badge--changed {
    background-color: #f6e05e;
    box-shadow: 0 0 4px #f6e05ec0;
  }
  .badge--removed {
    background-color: #f56565;
    box-shadow: 0 0 4px #f56565c0;
  }
  .badge--deprecated {
    background-color: #a0aec0;
    box-shadow: 0 0 4px #a0aec0c0;
  }
}

[data-theme='dark'] {
  .badge--added {
    background-color: #38a169;
    box-shadow: 0 0 5px #38a169c0;
  }
  .badge--changed {
    background-color: #d69e2e;
    box-shadow: 0 0 5px #d69e2ec0;
  }
  .badge--removed {
    background-color: #c53030;
    box-shadow: 0 0 5px #c53030c0;
  }
  .badge--deprecated {
    background-color: #718096;
    box-shadow: 0 0 5px #718096c0;
  }
}

.badge {
  display: block;
  padding: 8px;
  width: 12px;
  height: 12px;
  min-width: 12px;
  min-height: 12px;
  border-radius: 50%;
  cursor: help;
  user-select: none;
  align-items: center;
  flex-shrink: 0;
}

.badge:hover {
  cursor: help;
}

.link {
  height: 1.5em;
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 2px solid var(--ifm-color-emphasis-300);
  transition: all 0.2s ease;
  position: relative;
  padding-bottom: 0.4em;
  vertical-align: middle;
  top: 0.1em;
  margin-inline-start: 0.3em;
}

.link:not(.no-link):hover {
  border-bottom-color: var(--ifm-link-hover-color);
  color: var(--ifm-link-hover-color);
}

.link img {
  width: 1.5em;
  height: 1.5em;
}

.badge--no-link {
  cursor: default;
}

.badge--tooltip {
  z-index: 20;
  font-size: 14px !important;
  padding: 2px 8px 2px 8px !important;
  background-color: var(--ifm-font-color-base) !important;
  color: var(--ifm-background-color) !important;
}

[data-theme='dark'] .badge--avatar--default img {
  filter: invert(1);
}

.badge--avatar--wrap {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
}

[data-theme='dark'] .badge--avatar--wrap {
  background-color: white;
}

.badge--avatar {
  background-size: cover;
  background-position: top center;
  border-radius: 50%;
}

.badge--bug {
  height: 1.5em;
  align-items: center;
  display: inline-flex;
  vertical-align: middle;
  cursor: help;
  margin-inline-start: 0.3em;
  padding-bottom: 0.4em;
  top: 0.1em;
  position: relative;
}

.bug--icon {
  width: 1.5em;
  height: 1.5em;
}

.unseen--anchor {
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
  margin-left: -1.25em;
  vertical-align: middle;
  cursor: help;
  opacity: 0;
}

.unseen--tooltip {
  z-index: 20;
  font-size: 14px !important;
  padding: 2px 8px 2px 8px !important;
  background-color: var(--ifm-font-color-base) !important;
  color: var(--ifm-background-color) !important;
}

:global(html.plugin-blog-changelog .markdown > ul) {
  padding-left: 0;
}

:global(html.plugin-blog-changelog .markdown > ul > li) {
  position: relative;
  list-style: none;
  padding-left: var(--ifm-list-left-padding);
}

:global(html.plugin-blog-changelog .markdown ul > li)::before {
  content: '';
  position: absolute;
  left: 0.85em;
  top: 0.65em;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.935);
}

:global(html[data-theme='dark'].plugin-blog-changelog .markdown ul) > li:not(.unseen)::before {
  filter: invert(1);
}

:global(html.plugin-blog-changelog .markdown) ul > li.unseen::before {
  background-color: var(--ifm-color-green-light);
  animation: unseen-pulse 2s ease-in-out infinite;
}

:global(html.plugin-blog-changelog .markdown) li.unseen > ul li::before {
  content: none !important;
}

.unseen::after {
  content: '';
  position: absolute;
  left: 0.85em;
  top: 0.65em;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background-color: var(--ifm-color-green-light);
  opacity: 0;
  animation: unseen-echo-pulse 2s ease-out infinite;
  z-index: -1;
}

@keyframes unseen-pulse {
  0%   { transform: scale(1);   }
  50%  { transform: scale(1.5); }
  100% { transform: scale(1);   }
}

@keyframes unseen-echo-pulse {
  20%  { transform: scale(1); opacity: 0.3; }
  100% { transform: scale(3); opacity: 0;   }
}

