
.table-wrapper {
  width: 100%;
}

.responsive-table {
  width: 100%;
  display: table;
  border-collapse: collapse;
}

.responsive-table th,
.responsive-table td {
  padding: 8px 12px;
  text-align: left;
  white-space: normal;
  overflow-wrap: anywhere;
}

.responsive-table th,
.responsive-table :global(.title),
.responsive-table :global(.def),
.responsive-table :global(.min),
.responsive-table :global(.max) {
  text-align: center;
}

.responsive-table :global(.name) {
  width: 30%;
}

.responsive-table :global(.min),
.responsive-table :global(.max) {
  width: 7%;
}

.responsive-table :global(.def) {
  width: 15%;
}

.responsive-table :global(.desc) {
  width: auto;
  display: table-cell;
}

@media (max-width: 996px) {
  .responsive-table td,
  .responsive-table th {
    padding: 4px 6px;
    text-align: left;
  }
}

@media (max-width: 960px) {
  .responsive-table,
  .responsive-table thead,
  .responsive-table tbody,
  .responsive-table th,
  .responsive-table td,
  .responsive-table tr {
    display: block;
    width: 100% !important;
    overflow: visible !important;
  }

  .responsive-table :global(td.desc) {
    overflow: visible !important;
  }

  .responsive-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .responsive-table tr {
    border: 1px solid var(--ifm-color-emphasis-300);
    margin-bottom: 1rem;
    border-radius: 8px;
    overflow: visible !important;
  }

  .responsive-table td {
    border: none;
    border-bottom: 1px solid var(--ifm-color-emphasis-200);
    position: relative;
    padding-left: 50% !important;
    text-align: right !important;
    min-height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .responsive-table td::before {
    content: attr(data-label);
    position: absolute;
    left: 10px;
    width: calc(50% - 20px);
    white-space: normal;
    text-align: left !important;
    font-weight: bold;
    color: var(--ifm-heading-color);
  }

  .responsive-table :global(.desc) {
    display: flow-root;
  }

  .responsive-table td:last-child {
    border-bottom: 0;
  }
}

table.responsive-table :global(.changed a) {
  color: #f9a825;
  font-weight: bold;
  text-decoration: none;
}

table.responsive-table :global(.default) {
  background-color: transparent;
}

table.responsive-table :global(.default) {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
}

table.responsive-table :global(.def.color > div) {
  border-radius: 6px;
  box-shadow: 0 0 2px 0px var(--ifm-color-primary);
  padding-right: 10px;
  padding-left: 10px;
}

.responsive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--min-item-width), 1fr));
  gap: 8px;
}

.responsive-grid > :global(*) {
  background-color: var(--ifm-color-emphasis-100);
  border-radius: 6px;
  padding: 8px 12px;
  text-align: center;
  overflow-wrap: break-word;
}

.responsive-grid > :global(*) a {
  text-decoration: none;
  font-weight: 500;
}
