
.container {
  padding-top: 1rem;
}

.container:not(.is-sidebar) {
  border-top: 1px solid var(--ifm-color-emphasis-200);
}

.container.is-sidebar {
  padding-top: 0;
  padding-left: var(--ifm-toc-padding-horizontal);
}

.wrap {
  flex-wrap: wrap;
  align-items: center;
  display: flex;
}

.title {
  font-weight: 600;
  font-size: 1rem;
  margin: 0 1.0rem 0.5rem 0;
}

.container.is-sidebar .title {
  font-size: 0.8rem;
  margin: 1.25rem 0;
}

.buttons {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.buttons .button {
  margin-block-end: .5rem;
}

.buttons:not(.is-sidebar) .button:not(:last-child) {
  margin-inline-end: .5rem;
}

.container.is-sidebar .wrap {
  flex-direction: column;
  align-items: flex-start;
}

.button {
  text-align: center;
  cursor: pointer;

  appearance: none;
  min-height: 2.25em;
  text-decoration: none;
  box-shadow: none;
  vertical-align: top;
  border: 1px solid #0000;
  border-radius: 0.25rem;
  justify-content: flex-start;
  align-items: center;
  padding-block: calc(.375em - 1px);
  padding-inline: calc(.625em - 1px);
  font-size: .875rem;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: inline-flex;
  position: relative;
  background-color: transparent;
  border-color: var(--feedback-base);
  color: var(--feedback-base);
}

:root {
  --feedback-danger-base: #bc2f32;
  --feedback-hover: #ebf3fc;
  --feedback-dark: #115ea3;
  --feedback-base: #0f6cbd;
  --feedback-primary-hover: #0a7bdb;

  --feedback-box-shadow-medium: #00000021;
  --feedback-box-shadow-light: #0000001c;
  --feedback-border: #e6e6e6;
  --feedback-subtle: #505050;
}

html[data-theme='dark'] {
  --feedback-danger-base: #e5a7a8;
  --feedback-hover: #1b4364;
  --feedback-dark: #9ccbee;
  --feedback-base: #75b6e7;
  --feedback-primary-hover: #278cda;
  --feedback-border: #404040;
  --feedback-subtle: #d2d2d2;
}

.button svg {
  stroke-width: 1.5px;
  stroke: var(--feedback-base);
  fill: var(--ifm-background-color);
}

.button.filled svg {
  stroke-width: 0px;
}

.button:hover {
  background-color: var(--feedback-hover);
}

.button svg path {
  fill: inherit;
}

.button:hover svg {
  fill: var(--feedback-base);
}

.button.filled:hover svg {
  fill: var(--ifm-background-color);
}

.button.filled:hover {
  border-color: var(--feedback-primary-hover);
  background-color: var(--feedback-primary-hover);
  color: var(--ifm-background-color);
}

.button.filled {
  background-color: var(--feedback-base);
  color: var(--ifm-background-color);
}

.button-primary {
  border: none;
  background-color: var(--feedback-base);
  color: var(--ifm-font-color-base-inverse);
}

.button-primary:hover {
  background-color: var(--feedback-primary-hover);
}

.icon svg {
  width: 1.35em;
  height: 1.35em;
  margin-top: 0.35em;
}

.button .icon:first-child:not(:only-child) {
  margin-inline-end: .375em;
}

.button .icon {
  font-size: .875em;
}

.icon {
  width: 1em;
  height: 1em;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.label {
  display: block;
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 0.8rem;
}

.label.reason {
  margin: 1rem 0 1rem 0;
}

.label.more {
  margin: 1rem 0 0 0;
}

.textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid var(--ifm-color-emphasis-300);
  resize: vertical;
  max-height: 400px;
  min-height: 100px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: var(--ifm-z-index-overlay);
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-content {
  background: var(--ifm-card-background-color);
  padding: 0;
  border-radius: 8px;
  position: relative;
  box-shadow: var(--ifm-global-shadow-md);
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow-y: auto;
  max-height: calc(100vh - (var(--ifm-navbar-height) + 2rem));
  top: calc(var(--ifm-navbar-height) - 2rem);
  box-shadow: 0 1.6px 3.6px 0 var(--feedback-box-shadow-medium), 0 .3px .9px 0 var(--feedback-box-shadow-light);
  border: 1px solid var(--feedback-border);
}

@media (min-width: 768px) {
  .modal-content {
    width: 450px;
  }
}

.modal-body {
  padding: 0.0rem 1.5rem 1.5rem 1.5rem;
}

.modal-body .title {
  font-size: 1rem;
  font-weight: 600;
  margin: 0 0 1rem 0;
  text-align: left;
}

.reason-error {
  color: var(--feedback-danger-base);
  font-size: .875rem;
  line-height: 1.5;
  margin-top: 0.5rem;
}

.close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  line-height: 1;
  padding: 0;
  cursor: pointer;
  color: var(--ifm-color-content);
  opacity: 0.7;
  transition: opacity 0.2s;
}

.close-button:hover {
  opacity: 1;
}

.reasons-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0;
  padding: 0;
}

.checkbox {
  cursor: pointer;
  align-items: center;
  line-height: 1.8;
  display: flex;
  position: relative;
}

.checkbox .checkbox-check {
  border: .0625em solid var(--feedback-border);
  border-radius: .25rem;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 1.25em;
  height: 1.25em;
  transition-property: background, border, border-color;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.4, 0, .23, 1);
  display: flex;
  position: relative;
}

.checkbox .checkbox-check:not(:last-child) {
  margin-inline-end: .5rem;
}

.checkbox.is-invalid input[type=checkbox]:not(:checked)+.checkbox-check {
	border-color: var(--feedback-danger-base);
}

.checkbox input[type=checkbox] {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  word-wrap: normal;
  border: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
}

.checkbox input[type=checkbox]:checked+.checkbox-check {
  border-color: var(--feedback-base);
  background-color: var(--feedback-base);
}

.checkbox input[type=checkbox]:checked+.checkbox-check:before {
  border: solid var(--feedback-subtle);
  content: "";
  border-width: 0 .125em .125em 0;
  border-color: var(--ifm-font-color-base-inverse);
  width: .2em;
  height: .6125em;
  display: block;
  position: absolute;
  inset-block-start: .125em;
  transform: rotate(45deg);
}

.checkbox:hover input[type=checkbox]:not(:checked):not([disabled])+.checkbox-check:before {
  border: solid var(--feedback-subtle);
  content: "";
  border-width: 0 .125em .125em 0;
  width: .2em;
  height: .6125em;
  display: block;
  position: absolute;
  inset-block-start: .125em;
  transform: rotate(45deg);
}

.textarea {
  width: 100%;
  display: block;
  max-width: 100%;
  padding: 0.75rem;
  border-radius: 6px;
  resize: vertical;
  background-color: var(--ifm-background-color);
  color: var(--ifm-font-color-base);
  transition: box-shadow .3s linear;
  border-color: var(--feedback-dark);
  border-block-end-color: var(--feedback-base);
}

.textarea::placeholder {
  color: var(--ifm-color-emphasis-500);
}

.textarea:focus-visible {
  /* border-block-end-color: var(--theme-primary-base); */
  outline-offset: 0;
  box-shadow: 0 .125rem 0 0 var(--feedback-base);
  outline-style: solid;
  outline-color: #0000;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid var(--ifm-color-emphasis-200);
}

.modal-footer {
  display: flex;
  justify-content: flex-start;
  gap: 0.75rem;
  padding: 1rem 1.5rem;
  background-color: var(--ifm-color-emphasis-100);
  border-top: 1px solid var(--ifm-color-emphasis-200);
}

.required-indicator::after {
  color: var(--feedback-danger-base);
  content: "*";
  vertical-align: top;
  margin-inline-start: 4px;
}

.modal-header.thanks {
  border: 0;
  padding: 1rem 1.5rem;
}

.modal-header.thanks > h4 {
  margin: 0;
  margin-top: 1.3rem;
}
