/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@font-face {
  font-family: 'Stratum2';
  src: url('/fonts/Stratum2-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --ifm-container-width: 1280px;
  --ifm-container-width-xl: 1460px;
  --ifm-color-primary: #111;
  --ifm-color-primary-dark: #000;
  --ifm-color-primary-darker: #000;
  --ifm-color-primary-darkest: #666;
  --ifm-color-primary-light: #333;
  --ifm-color-primary-lighter: #555;
  --ifm-color-primary-lightest: #777;

  --ifm-color-blue: #4a90e2;
  --ifm-color-blue-dark: #3d7cc9;
  --ifm-color-blue-darker: #2e62af;
  --ifm-color-blue-darkest: #244c85;
  --ifm-color-blue-light: #6aa7f7;
  --ifm-color-blue-lighter: #8abcf9;
  --ifm-color-blue-lightest: #bedaff;

  --ifm-color-green-light: #11c900;

  --ifm-color-gray: #f5f7fa;
  --ifm-color-gray-dark: #e1e5eb;
  --ifm-color-gray-darker: #c7ccd6;
  --ifm-color-gray-darkest: #aeb5bf;
  --ifm-color-gray-light: #939ca7;
  --ifm-color-gray-lighter: #727a84;
  --ifm-color-gray-lightest: #545b63;
  --ifm-color-gray-contrast: #767676;

  --ifm-background-color: #ffffff;
  --ifm-font-color-base: #111111;
  --ifm-navbar-background-color: #e6e6e6;
  --ifm-navbar-background-lighter: #dbdbdb;
  --ifm-footer-background-color: #f5f5f5;
  --ifm-main-background-color: #f5f5f5;
  --ifm-list-background-color: #ffffff;
  --ifm-link-color: #0a58ca;

  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.05);

  --docs-anchor-highlighted-color: rgba(255, 200, 100, 0.4);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #fff;
  --ifm-color-primary-dark: #ccc;
  --ifm-color-primary-darker: #aaa;
  --ifm-color-primary-darkest: #888;
  --ifm-color-primary-light: #fff;
  --ifm-color-primary-lighter: #fff;
  --ifm-color-primary-lightest: #fff;
  --ifm-color-gray-contrast: #b3b3b3;

  --ifm-color-blue: #5bb0f5;
  --ifm-color-blue-dark: #4791d9;
  --ifm-color-blue-darker: #3775bf;
  --ifm-color-blue-darkest: #2a5e91;
  --ifm-color-blue-light: #7cc4fc;
  --ifm-color-blue-lighter: #9ed3ff;
  --ifm-color-blue-lightest: #c7e3ff;

  --ifm-color-green-light: #0adb0a;

  --ifm-color-gray: #1a1f29;
  --ifm-color-gray-dark: #9399a3;
  --ifm-color-gray-darker: #434a59;
  --ifm-color-gray-darkest: #58606f;
  --ifm-color-gray-light: #707783;
  --ifm-color-gray-lighter: #8991a0;
  --ifm-color-gray-lightest: #a3aad1;

  --ifm-background-color: #111111;
  --ifm-font-color-base: #eeeeee;
  --ifm-navbar-background-color: #111111;
  --ifm-navbar-background-lighter: #252525;
  --ifm-main-background-color: #3c3c3c;
  --ifm-list-background-color: #282a36;
  --ifm-footer-background-color: #1a1a1a;
  --ifm-link-color: #45caff;

  --docusaurus-highlighted-code-line-bg: rgba(255, 255, 255, 0.1);

  --docs-anchor-highlighted-color: rgba(255, 180, 50, 0.35);
  --docsearch-hit-active-color: var(--ifm-color-gray);
}

@media (min-width: 1460px) {
  .container {
    max-width: var(--ifm-container-width);
  }
}

/*.footer {
    background-color: var(--ifm-footer-background-color);
    color: var(--ifm-footer-color);
    padding: var(--ifm-footer-padding-vertical) var(--ifm-footer-padding-horizontal);
}*/

/* Customize navbar */

[data-theme='dark'] .navbar__title,
[data-theme='dark'] .navbar__item {
  color: #ccc;
}
[data-theme='dark'] .navbar__logo img {
  filter: invert(1);
}
[data-theme='dark'] .navbar__link--active {
  color: white !important;
}

[data-theme='light'] .navbar__link--active {
  color: black !important;
}
[data-theme='light'] .navbar__title,
[data-theme='light'] .navbar__item {
  color: #666;
}
[data-theme='light'] .navbar__title:hover,
[data-theme='light'] .navbar__item:hover {
  color: black !important;
}

.navbar__logo {
  display: flex;
  align-items: center;
  margin-right: 1em;
  pointer-events: none;
  user-select: none;
}
.navbar__logo img {
  width: 48px;
  height: 48px;
}
.navbar__logo {
  pointer-events: none;
  cursor: default;
}
.navbar__title,
.navbar__item,
.navbar__link {
  font-family: 'Stratum2', arial;
}
.navbar__title, .navbar__item {
  text-transform: uppercase;
}
.navbar__link--active,
.navbar__item--active {
  color: var(--ifm-color-primary);
}

.navbar__link--active {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-thickness: 0.15em;
  text-underline-offset: 0.6em;
}
.navbar__inner {
  width: 100%;
  max-width: var(--ifm-container-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--ifm-page-padding);
  padding-right: var(--ifm-page-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Customize language switcher */
.navbar__item.dropdown:has(.icon-flag) {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin-right: 6px;
}
.navbar__item.dropdown > .navbar__link:has(.icon-flag) {
  display: flex;
  align-items: center;
  background: var(--ifm-navbar-background-lighter);
  border-radius: 8px;
  padding: 4px 8px;
}
.navbar__item.dropdown > .navbar__link > .icon-flag > svg {
  width: 28px;
  height: 24px;
}
.dropdown__menu:has(.icon-flag) {
  min-width: 0 !important;
  vertical-align: middle;
}
.dropdown__menu > li:has(.icon-flag) {
  padding: 0;
}
.dropdown__menu > li > a > .icon-flag > svg {
  width: 28px;
  height: 24px;
}
.dropdown > .navbar__link:has(.icon-flag):after {
  border-color: currentColor transparent;
  border-style: solid;
  border-width: 0.4em 0.4em 0;
  content: '';
  display: inline-block;
  margin-left: 0.3em;
  position: relative;
  top: 2px;
  transform: translateY(-50%);
  vertical-align: middle;
}
.icon-flag {
  display: flex;
  align-items: center;
  border-radius: 4px;
  margin-right: 4px;
  vertical-align: middle;
}

@media (max-width: 996px) {
  .navbar__item {
    display: none !important;
  }
}

.navbar {
  background: var(--ifm-navbar-background-color);
}

.navbar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: linear-gradient(to bottom, var(--ifm-main-background-color), transparent);
  pointer-events: none;
  z-index: -1;
}

.read-more {
  font-weight: bold;
  color: var(--ifm-link-color);
  -webkit-text-decoration: var(--ifm-link-decoration);
  text-decoration: var(--ifm-link-decoration);
  transition: color var(--ifm-transition-fast) var(--ifm-transition-timing-default);
}

.read-more:hover {
  color: var(--ifm-link-hover-color);
  -webkit-text-decoration: var(--ifm-link-hover-decoration);
  text-decoration: var(--ifm-link-hover-decoration);
}

html.plugin-blog .container .row .col--3,
html.plugin-blog-changelog .container .row .col--3 {
  --ifm-col-width: calc(2.5 / 17 * 100%);
}

html.plugin-blog .container .row .col--7,
html.plugin-blog-changelog .container .row .col--7 {
  --ifm-col-width: calc(12 / 17 * 100%);
}

html.plugin-blog .container .row .col--2,
html.plugin-blog-changelog .container .row .col--2 {
  --ifm-col-width: calc(2.5 / 17 * 100%);
}

@media (max-width: 996px) {
  html.plugin-blog-changelog .container .row .col--7 {
    --ifm-col-width: 100%;
  }
}

/* DOCS */

html.plugin-docs.docs-wrapper .container {
  max-width: 100%;
}

html.plugin-docs.docs-wrapper .container {
  max-width: 100%;
}

/*.col--2 {
    --ifm-col-width: calc(2 / 12 * 100%);
}

.col--3 {
    --ifm-col-width: calc(3 / 12 * 100%);
}
.col--7 {
    --ifm-col-width: calc(7 / 12 * 100%);
}*/

@media (min-width: 1920px) {
  html.plugin-docs {
    --doc-sidebar-width: 400px;
  }
}

.container .row .col--3 {
  --ifm-col-width: calc(3 / 12 * 100%);
}

@media (max-width: 1440px) {
  html.plugin-docs {
    --doc-sidebar-width: 300px;
  }
}

@media (max-width: 1120px) {
  html.plugin-docs {
    --doc-sidebar-width: 200px;
  }
}

@media (max-width: 996px) {
  html.plugin-docs {
    --doc-sidebar-width: 100px;
  }
}

.anchor-target {
  position: relative;
}

.anchor-target::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
	animation: anchor-fade 3s forwards;
}

@keyframes anchor-fade {
	from { background-color: var(--docs-anchor-highlighted-color); }
	to { background-color: transparent; }
}

[data-theme='dark'] .token.action {
  color: #82aaff;
}

[data-theme='light'] .token.action {
  color: #0366d6;
}

.table-layout {
  width: 100%;
  display: table;
  margin-bottom: var(--ifm-leading);
}

.table-layout td,
.table-layout th,
.table-layout tr {
  border: none !important;
}

.xhair-guide-thumbnail-wrapper {
  text-align: center;
  background-color: #999;
  border-radius: 6px;
}

.xhair-guide-preview-cell {
  width: 40%;
  padding-left: 20px;
  text-align: center;
  vertical-align: middle;
}

/* CODEBLOCKS + PREVIEW */
.code-with-preview {
  background-color: var(--ifm-code-background);
  border-radius: var(--ifm-code-border-radius);
  margin-bottom: var(--ifm-leading);
  box-shadow: var(--ifm-global-shadow-lw);
}

.code-with-preview__header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 var(--ifm-code-padding-horizontal);
}

.code-with-preview__tabs {
  flex-grow: 1;
}

.code-with-preview__preview {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0.4rem;
}

.code-with-preview .tabs-container {
  background-color: transparent !important;
  margin: 0 !important;
  box-shadow: none !important;
}

.code-with-preview .margin-top--md {
  margin-top: 0 !important;
  border-top: 1px solid var(--ifm-toc-border-color);
}

:root {
  .ref-link::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%234178cb' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><path d='M18 13v6a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6'/><polyline points='15 3 21 3 21 9'/><line x1='10' y1='14' x2='21' y2='3'/></svg>");
  }
}

[data-theme='dark'] {
  .ref-link::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%232187af' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><path d='M18 13v6a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6'/><polyline points='15 3 21 3 21 9'/><line x1='10' y1='14' x2='21' y2='3'/></svg>");
  }
}

.ref-link::after {
  content: "";
  display: inline-block;
  width: 0.85em;
  height: 0.85em;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 0.2em;
  vertical-align: text-top;
}

.ref-link:hover {
  opacity: 1;
  filter: brightness(1.3);
}

.desc-meta {
  display: inline-flex;
  align-items: center;
  float: right;
  gap: 10px;
  margin-top: 4px;
  margin-bottom: 4px;
}
